.room-title {
    margin-top: 10px;
    margin-bottom: 10px;
}


.contacts {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid blue;
}

.contact:nth-child(2) {
    border-top: 1px solid black;
}

.contact {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 1px solid black;
}

.contact-pic {
    background-image: url("../pics/avatar/788.jpg");
    background-size: 45px auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
}

.contact-data {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.contact-status {
    display: flex;
    flex-direction: row;
}

.contact-status-pic {
    width: 10px;
    height: 10px;
    border: 1px solid blue;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    background-color: #10ff05;
}

.contact-status-text {
    margin-left: 10px;
}

