@import url("./global.css");
@import url("./fonts.css");
@import url("./contactPanel.css");
@import url("./chatPanel.css");
@import url("./loginWindow.css");
@import url("./userPanel.css");

.widget {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
}

.chat-window {
    width: 70%;
    border: 1px solid red;
}

.user-panel {
    background-color: white;
    border: 1px solid black;
}

.widget-inner-wrapper {
    display: flex;
    flex-direction: row;
    height: 600px;
}
